---
name: prgate
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.22.3

    - name: Build
      run: go build -v ./...

    - name: Test
      run: |
       go test -v ./...
       docker build -t telefonica/prometheus-kafka-adapter .
       docker run -d --name test telefonica/prometheus-kafka-adapter
       if [ $(docker inspect -f {{.State.Status}} test) = "running" ]; then echo "OK"; exit 0; else echo "FAILED"; exit 1; fi
